HELO:<localhost>
FROM:<info@example.com>
TO:<simasyamu@gmail.com>

Message-ID: <2ab4f1700dddcfc50fef405e0207bbda@localhost>
Date: Sat, 26 Oct 2024 17:05:42 +0900
Subject: =?utf-8?Q?=E3=81=A6=EF=BD=93=EF=BD=94?=
From: coachtech-flea <info@example.com>
To: =?utf-8?Q?=E9=AB=98=E5=B0=BE=E3=80=80=E5=92=8C?=
 =?utf-8?Q?=E4=BB=81_=E3=81=82=E3=81=82?=
 =?utf-8?Q?=E3=81=82=E3=81=82=E3=81=82=E3=81=82?=
 =?utf-8?Q?=E3=81=82=E3=81=82=E3=81=82=E3=81=82?=
 =?utf-8?Q?=E3=81=82=E3=81=82=E3=81=82=E3=81=82?= <simasyamu@gmail.com>
MIME-Version: 1.0
Content-Type: multipart/alternative;
 boundary="_=_swift_1729929942_f2728de500bcfbc0bcb70775db8d6cae_=_"


--_=_swift_1729929942_f2728de500bcfbc0bcb70775db8d6cae_=_
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: quoted-printable

=E3=81=A6=EF=BD=93=EF=BD=94

--_=_swift_1729929942_f2728de500bcfbc0bcb70775db8d6cae_=_
Content-Type: text/html; charset=utf-8
Content-Transfer-Encoding: quoted-printable

<!DOCTYPE html>
<html lang=3D"ja">

<body>
   =20
    <p>=E3=81=
=A6=EF=BD=93=EF=BD=94</p>

</body>

</html>


--_=_swift_1729929942_f2728de500bcfbc0bcb70775db8d6cae_=_--
