h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    background-color: #fff;
}

input::placeholder {
    color: gray; /* プレースホルダーの文字色をグレーに設定 */
    opacity: 0.6; /* 透明度（省略可能、デフォルトは0.5で半透明） */
}

.form-control::placeholder {
    color: gray; /* プレースホルダーの文字色をグレーに設定 */
    opacity: 0.6; /* 透明度（省略可能、デフォルトは0.5で半透明） */
}

.form-select {
    border: 1px solid gray;
}

.form-control {
    border: 1px solid gray;
}

/* s 戻るボタン */
.container {
    position: relative;
}

.item__back-button {
    position: absolute;
    top: 2rem;
    left: 0.5rem;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: #ff5555;
    border: none;
    width: 3rem;
    height: 2rem;
    border-radius: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* e 戻るボタン */

/* s バリデーション表示 */
.form__error {
    margin-top: 2px;
    color: red;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.custom-success {
    font-weight: bold;
    font-size: 18px;
    border-radius: 0;
    margin-bottom: 0;
    padding-left: 5rem;
}

.custom-alert {
    font-weight: bold;
    font-size: 18px;
    border-radius: 0;
    margin-bottom: 0;
    color: red;
}

.custom-alert ul {
    list-style: none;
    padding-left: 2rem;
    margin-bottom: 0;
}

.custom-alert li {
    margin-bottom: 5px; /* 項目間に少しスペースを追加 */
}

.custom-alert li:last-child {
    margin-bottom: 0;
}
/* e バリデーション表示 */

.header {
    background: #000;
    height: 70px;
    width: 100%;
}

.header__inner {
    margin: 0 auto;
    padding: 0 5px 0 5px;
    max-width: 1230px;
}

.header__utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__utilities nav {
    width: 30%;
}

.header__logo {
    text-decoration: none;
    padding: 20px 0;
    width: 300px;
}

.header__logo--image {
    width: 100%;
}

/* s 検索 */
.header__search-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;
}

.header__search-input {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    width: 65%;
}

.header__search-button {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 1rem 0.1rem 1rem;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* e 検索 */

.header__nav {
    display: block;
}

.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.header__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.header__nav-button {
    padding: 0;
    color: #fff;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.header__nav-button--listing {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 1rem 0.1rem 1rem;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.header__nav-button--admin {
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0.3rem 0.5rem 0.1rem 0.5rem;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.header__hamburger-search-form,
.header__hamburger-toggle,
.header__hamburger-nav {
    display: none;
}

/* レスポンシブ対応：992pxのデバイス */
@media screen and (max-width: 992px) {
    .header-nav-list {
        margin-top: 0.9rem;
    }

    .header__search-input,
    .header__search-button,
    .header__nav-button,
    .header__nav-link,
    .header-nav__listing-button {
        font-size: 1.8vw;
    }

    .header__search-input {
        padding: 5px 10px;
        font-size: 1.8vw;
    }
}

/* 768px以下 */
@media screen and (max-width: 768px) {
    .header__nav-list,
    .header__search-form {
        display: none;
    }

    /* s ハンバーガーメニュー */
    /* ハンバーガーのマーク */
    .header__hamburger-toggle {
        display: block;
        position: relative;
        width: 2rem;
        height: 1.5rem;
        margin-right: 10px;
        z-index: 2;
        cursor: pointer;
    }

    .header__hamburger-toggle i {
        display: block;
        width: 2rem;
        height: 2px;
        background-color: #fff;
        position: absolute;
    }

    .header__hamburger-toggle i:nth-child(1) {
        top: 0;
    }
    .header__hamburger-toggle i:nth-child(2) {
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .header__hamburger-toggle i:nth-child(3) {
        bottom: 0;
    }

    .header__hamburger-close-wrapper {
        display: none;
    }

    /* クリックされた後のハンバーガーのマーク */
    .header__hamburger-button.show .header__hamburger-toggle {
        display: none;
    }

    .header__hamburger-button.show .header__hamburger-close-wrapper {
        display: block;
        position: relative;
        width: 2rem;
        height: 1.5rem;
        margin-right: 10px;
        z-index: 2;
        cursor: pointer;
    }

    .header__hamburger-button.show .header__hamburger-close {
        color: #000;
        position: absolute;
        top: -10px;
        left: 5px;
        font-size: 28px;
    }

    /* クリックで表示されるメニュー：クリックされる前 */
    .header__hamburger-nav {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        padding-top: 5%;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        visibility: hidden;
        background-color: skyblue;
        z-index: 1;
    }

    .header__hamburger-nav-item {
        margin-bottom: 30px;
    }

    .header__hamburger-nav-link {
        color: #000;
        border: none;
        background: transparent;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
    }

    .header__hamburger-nav-button {
        color: #000;
        border: none;
        background: transparent;
        font-size: 22px;
        font-weight: bold;
    }

    .header__hamburger-nav-button--listing {
        color: #000;
        border: none;
        background: transparent;
        font-size: 22px;
        font-weight: bold;
    }

    .header__hamburger-nav-button--admin {
        color: #000;
        border: none;
        background: transparent;
        font-size: 22px;
        font-weight: bold;
    }
    /* s 検索フォーム（ハンバーガーメニュー） */
    .header__hamburger-search-form {
        display: flex;
        flex-direction: column; /* 子要素を縦に並べる */
        align-items: center; /* 横方向の中央揃え */
        justify-content: center; /* 縦方向の中央揃え */
        position: fixed;
        top: 15%;
        right: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        width: 100%;
    }

    .header__hamburger-search-input {
        font-size: 17px;
        font-weight: bold;
        padding: 10px 40px 10px 10px;
        border-radius: 5px;
        border: 1px solid #000;
        width: 80%; /* 入力フォームの幅を80%に設定 */
    }

    .header__hamburger-search-button {
        color: #000;
        background-color: transparent;
        border: none;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        right: 11%;
        top: 50%;
        transform: translateY(-50%); /* 垂直方向に中央揃え */
    }
    /* e 検索フォーム（ハンバーガーメニュー）  */

    /* クリックで表示されるメニュー：クリックされた後 */
    .header__hamburger-nav.show {
        opacity: 1;
        visibility: visible;
        width: 70%;
        text-align: center;
    }

    .header__hamburger-search-form.show {
        opacity: 1;
        visibility: visible;
        width: 70%;
        text-align: center;
        margin-left: 0 5px;
    }
    /* e ハンバーガーメニュー */
}

.custom-success {
    padding-left: 2rem;
}

/* 480px以下 */
@media screen and (max-width: 480px) {
    .header__logo {
        width: 250px;
    }

    .header__logo--image {
        width: 250px;
    }

    .header__hamburger-toggle {
        height: 1.4rem;
        width: 1.5rem;
    }

    .header__hamburger-toggle i {
        width: 1.5rem;
    }

    .header__hamburger-toggle i:nth-child(1) {
        top: 2px;
    }

    .header__hamburger-toggle i:nth-child(2) {
        top: 2px;
        bottom: 0;
        margin: auto;
    }

    .header__hamburger-toggle i:nth-child(3) {
        bottom: 0;
    }

    /* クリックで表示されるメニュー：クリックされた後 */
    .header__hamburger-nav.show {
        width: 100%;
    }

    .header__hamburger-search-form.show {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 200px;
    }

    .header__logo--image {
        width: 200px;
    }
}
