.login {
    margin: 0 auto;
    height: 80vh;
    max-width: 1230px;
    width: 40%;
}

.login__form-heading {
    text-align: center;
    margin: 3rem auto;
}

.login__form-heading h2 {
    font-size: 2rem;
}

.form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.form__group {
    margin-bottom: 10px;
}

.form__error {
    margin-top: 2px;
    color: red;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.form__input--text {
    text-align: left;
}

.form__input--text label {
    font-size: 20px;
    font-weight: bold;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1.5px solid #848484;
    border-radius: 5px;
    appearance: none;
}

.form__button {
    margin-top: 40px;
}

.form__button-submit {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.register-link {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
}

.register-button {
    text-decoration: none;
    font-weight: bold;
    color: #0073cc;
}

/* 画面幅が768px以下の場合*/
@media (max-width: 768px) {
    .login {
        width: 60%;
    }
}

/* 画面幅が480px以下の場合*/
@media (max-width: 480px) {
    .login {
        width: 80%;
    }
}
