/* s マイページ プロフィール */
.my-page__profile {
    display: flex;
    align-items: center;
    margin: 20px 10% 20px;
}

.my-page__user-icon-background {
    border: none;
    background-color: rgb(200, 200, 200, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.my-page__user-icon {
    padding: 5px;
    text-align: center;
}

.my-page__user-icon img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.my-page__user-name {
    margin-left: 2rem;
    margin-bottom: 0;
    width: 45%;
}

.my-page__profile-link-wrapper {
    margin-left: auto;
    margin-top: 1rem;
}

.my-page__profile-link {
    border: 2px solid #ff5555;
    border-radius: 5px;
    color: #ff5555;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    padding: 5px 20px;
}

/* e マイページ プロフィール */

/* s マイページ タグ */
.my-page__listed-items {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px 0px 100px;
    padding: 10px 0;
    width: 150px;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px 15px 0 0; /* 角を丸める */
    text-align: center;
}

.my-page__purchased-items {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px 0px 30px;
    padding: 10px 0;
    width: 160px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px 15px 0 0; /* 角を丸める */
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 0;
}
/* e マイページ タグ */

/* s 商品 */
.my-page__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.my-page__grid {
    display: grid;
    gap: 1.5rem 1.5rem;
    grid-template-columns: repeat(auto-fill, 190px);
    justify-content: center;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.item-card {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 20px;
}

.item-card__container {
    position: relative;
}

.item-card__image {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.item-card__favorite {
    position: absolute;
    top: 5%;
    right: 5%;
}

.item-card__price {
    display: inline;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 10px 2px 5px;
    border-radius: 0 15px 15px 0; /* 角を丸める */
    font-size: 20px;
    font-weight: bold;
}

.item-card__sold {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    width: 65%; /* 三角形の底辺の長さ */
    height: 65%; /* 三角形の高さ */
    background-color: rgb(244, 0, 161); /* ファッションピンク色 */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 0 100%); /* 左上から右上、左下への三角形 */
}

.item-card__sold-text {
    position: absolute;
    transform: rotate(-45deg); /* テキストを元に戻すために45度時計回りに回転 */
    left: 17%;
    bottom: 41%; /* テキスト位置の微調整 */
}

.item-card__name {
    padding: 10px 5px;
    font-weight: 800;
    margin-bottom: 0;
}

/* s いいねボタン */
.like-btn {
    cursor: pointer;
    color: rgb(188, 188, 188);
    font-size: 2rem;
    vertical-align: middle;
    transform: translateY(-10%);
}

.liked {
    font-size: 2rem;
    color: red;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    z-index: 10;
}

.item-card__like-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* e いいねボタン */
/* e 商品 */

/* 画面幅が1024px以下の場合、カラム数を4に減らす */
@media screen and (max-width: 1024px) {
    .my-page__profile {
        margin: 20px 1% 20px;
    }
}

/* 画面幅が768px以下の場合、カラム数を3に減らす */
@media screen and (max-width: 768px) {
    .my-page__profile {
        flex-wrap: wrap;
    }

    .my-page__profile-link-wrapper {
        margin-left: 0;
        width: 100%; /* コンテナ全体の幅を使う 折り返すため*/
        text-align: right; /* 右寄せにする */
    }
}

/* 画面幅が480px以下の場合、カラム数を2に減らす */
@media screen and (max-width: 480px) {
    .my-page__grid {
        grid-template-columns: repeat(auto-fill, 150px);
        justify-content: center;
        gap: 1rem 1rem;
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .item-card__image {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .my-page__listed-items {
        margin: 20px 0px 0px 20px;
        font-size: 20px;
        width: 140px;
    }

    .my-page__purchased-items {
        margin: 20px 0px 0px 20px;
        font-size: 20px;
        width: 140px;
    }

    .my-page__user-icon-background {
        width: 80px;
        height: 80px;
    }

    .my-page__user-icon {
        padding: 3px;
    }

    .my-page__user-name {
        margin-left: 1rem;
        font-size: 18px;
        margin-bottom: 0;
    }

    .my-page__profile-link {
        color: #ff5555;
        font-size: 16px;
        padding: 5px 10px;
    }
}

/* 画面幅が320px以下の場合、カラム数を1に減らす */
@media screen and (max-width: 320px) {
    .my-page__grid {
        grid-template-columns: 200px; /* 1列のみ */
    }

    .my-page__listed-items {
        margin: 20px 0px 0px 20px;
        font-size: 20px;
        width: 120px;
    }

    .my-page__purchased-items {
        margin: 20px 0px 0px 20px;
        font-size: 18px;
        width: 120px;
    }
}
