/* s 商品セクション */
.purchase__item-content {
    padding: 0 5%;
}

.purchase__item-wrapper {
    display: flex;
}

.purchase__item-image-thumbnail {
    display: inline-block;
    width: 20%;
    margin: 1rem;
}

.purchase__item-image-thumbnail img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 5px;
}

.purchase__item-info {
    margin: 1rem 0 0 3rem;
}

.purchase__item-name {
    margin: 0;
    font-size: 1.8rem;
}

.purchase__item-sale-price {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin: 0;
}

.purchase__payment-method {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 0rem;
}

.purchase__link {
    text-decoration: none;
    font-weight: bold;
    margin: auto 0;
    font-size: 20px;
}

.purchase__payment-method-card-type {
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 0 1.8rem;
    margin-bottom: 0;
}

.purchase__address {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 0rem;
}

.purchase__payment-method-title,
.purchase__address-title {
    display: inline-block;
}

/* s 支払方法クレジットカードテーブル */
.purchase__payment-method-card {
    border: 1px solid #000;
    border-radius: 5px;
    width: 80%;
    margin: 0.5rem auto;
    padding: 1rem;
}

.purchase__payment-method-card-table {
    width: 100%;
}

.purchase__payment-method-card-row {
    height: 2rem;
    font-size: 18px;
}

.purchase__payment-method-card-label {
    width: 30%;
}

.purchase__payment-method-card-data {
    width: 70%;
}
/* e 支払方法クレジットカードテーブル */

.purchase__payment-method-type {
    border: 1px solid #000;
    border-radius: 5px;
    width: 80%;
    padding: 1rem 0;
    margin: 0 auto;
    text-align: center;
}

.purchase__payment-method-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

/* s 配送先テーブル */
.purchase__address-wrapper {
    border: 1px solid #000;
    border-radius: 5px;
    width: 80%;
    margin: 0.5rem auto;
    margin-bottom: 1rem;
    padding: 1rem;
}

.purchase__address-table {
    width: 100%;
}

.purchase__address-row {
    height: 2rem;
    font-size: 18px;
}

.purchase__address-label {
    width: 30%;
    white-space: nowrap;
}

.purchase__address-data {
    width: 70%;
}

.purchase__address-wrapper--alert {
    padding: 1rem 0;
    text-align: center;
}

.purchase__address-label--alert {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    width: 100%;
}
/* e 配送先テーブル */
/* e 商品セクション */

/* s 購入セクション */
.purchase__summary {
    padding: 1rem;
    border: solid 1px #000;
    border-radius: 5px;
}

.purchase__summary-table {
    width: 100%;
}

.purchase__summary-row {
    height: 2.5rem;
    font-size: 18px;
}

.purchase__summary-label {
    width: 40%;
}

.purchase__summary-data {
    width: 60%;
}

.purchase__summary-label-sale-price {
    width: 40%;
    padding-bottom: 3rem;
}

.purchase__summary-data-sale-price {
    width: 60%;
    padding-bottom: 3rem;
}

.purchase__form {
    margin: 3rem 0;
    width: 100%;
}

.purchase__button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #ff5555;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
/* e 購入セクション */

/* 画面幅が992px以下の場合 */
@media (max-width: 992px) {
    .purchase__payment-method-card-type {
        padding: 0;
    }
}

/* 画面幅が768px以下の場合 */
@media (max-width: 768px) {
    .purchase__payment-method-card {
        width: 100%;
        margin: 0 auto;
    }

    .purchase__payment-method-type {
        width: 100%;
        margin: 0 auto;
    }

    .purchase__address-wrapper {
        width: 100%;
        margin: 0 auto;
    }

    .purchase__payment-method-card-type {
        margin: 0;
        font-size: 24px;
        font-weight: bold;
    }

    .purchase__payment-method-card-label {
        width: 35%;
    }

    .purchase__payment-method-card-data {
        width: 65%;
    }

    .purchase__payment-method-type {
        border: 1px solid #000;
        border-radius: 5px;
        width: 100%;
        padding: 1rem 0;
        margin: 0 auto;
        text-align: center;
    }

    .purchase__payment-method-label {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .purchase__address-label {
        width: 35%;
        white-space: nowrap;
    }

    .purchase__address-data {
        width: 65%;
    }

    .purchase__address-wrapper--alert {
        padding: 1rem 0;
        text-align: center;
    }

    .purchase__address-label--alert {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
        width: 100%;
    }
}
