.recommended {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px 0px 100px;
    padding: 10px 0;
    width: 150px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px 15px 0 0; /* 角を丸める */
    text-align: center;
}

.my-list {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px 0px 40px;
    padding: 10px 0;
    width: 150px;
    color: #000;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 15px 15px 0 0; /* 角を丸める */
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: #000;
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

.grid {
    display: grid;
    gap: 1.5rem 1.5rem;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.item__card {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-bottom: 20px;
}

.card__container {
    position: relative;
}

.card__image-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card__favorite {
    position: absolute;
    top: 5%;
    right: 5%;
}

.card__price {
    display: inline;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 10px 2px 5px;
    border-radius: 0 15px 15px 0; /* 角を丸める */
    font-size: 20px;
    font-weight: bold;
}

.card__content {
    padding: 10px 5px;
    font-weight: 800;
}

/* s いいねボタン */
.like-btn {
    cursor: pointer;
    color: rgb(188, 188, 188);
    font-size: 2rem;
    vertical-align: middle;
}

.liked {
    font-size: 2rem;
    color: red;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: 900;
    z-index: 10;
}

.item__like-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
/* e いいねボタン */

/* 画面幅が1024px以下の場合、カラム数を4に減らす */
@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* 画面幅が768px以下の場合、カラム数を3に減らす */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 画面幅が480px以下の場合、カラム数を2に減らす */
@media (max-width: 480px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .recommended {
        margin: 20px 0px 0px 20px;
    }

    .my-list {
        margin: 20px 0px 0px 20px;
    }
}

/* 画面幅が320px以下の場合、カラム数を1に減らす */
@media (max-width: 320px) {
    .grid {
        grid-template-columns: 1fr; /* 1列のみ */
    }
}
