/* s main */
.unauthorized {
    text-align: center;
    margin: 0 auto;
    margin: 20vh auto;
    height: 100vh;
}

.unauthorized-card {
    margin: 3vh auto;
    height: 15rem;
    width: 28rem;
    padding: 10px 20px 20px 20px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    padding-top: 7vh;
    background-color: #f2f2f2;
}

.unauthorized-card__text {
    text-align: left;
    font-size: 18px;
}

.unauthorized-card__link-container {
    display: flex;
    justify-content: space-around;
}

.unauthorized-card__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: #fff;
    background: #ff5555;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    padding-top: 0.6rem;
}
/* 768px以下 */
@media screen and (max-width: 768px) {
    .unauthorized-card {
        height: 15rem;
        width: 20rem;
    }

    .unauthorized-card__link {
        width: 6rem;
    }
}

/* e main */
